body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}
.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: white;
    margin: 40px auto;
    background: #FFFFFF;
box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-container-section{
    padding: 100px 90px;

}


.about-my-profession{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    margin: 0 0 25px 0;
    color: #000000;
    
}

.about-me-name-description{
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* my poject section */
.my-project-section{
    margin: 0 0 50px 0;

}

.my-work-experience{
    color: #FB6D3A;
}

.my-work-experiaen-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 0 0 10px 0;
}

.my-work-experianse-time{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 0 0 10px 0;
}

.my-work-experianse-diviader{
    color: #000000;
}

.my-work-experianse-duties{
    padding: 0 0 0 18px;
}

.my-work-experianse-duti{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;

}

.my-work-experiaen-company-blok{
    margin: 0 0 15px 0;
}
.main-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: black;
    margin-bottom: 10px;
}

.my-project-list{
    padding: 0 0 0 17px;
}

.my-project-atom{
    color: black;
    font-weight: bold;
}

.my-project-bracet{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.my-project-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.my-project-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}

/* aside блок */
.sidebar-section{
    background: rgba(30, 41, 57, 1);
    margin: 50px;
    width: 370px;
    padding: 40px 0;
    
}

.Contacts-section{
    margin: 50px 0 0 40px;
    color: white;
}

.Tech-Skills-section,
.Soft-Skills-section{
    margin: 50px 0 0 40px;
    color: white;
}
.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: white;
    margin-bottom: 8px;
}

.foto{
    width: 370px;
    height: 354px;
    left: 40px;
    top: 80px;

}
/* Contacts section */
.Contacts-section-type{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin-right: 5px;
}
.Contacts-section-link{
    color: rgba(114, 121, 131, 1);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.tech-skills-list{
    padding: 0 0 0 17px;
}
.tech-skills-item{
    color: rgba(251, 109, 58, 1);
    ;
}

.tech-skills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: white;
    }